body{
  background-position: center top;
  background-repeat: no-repeat;
  background-color: darkblue;
  text-align: center;
}
h1{
  text-align: center;
}

h2{
  text-align: center;
  text-decoration: line-through;
}

input{
  text-align: center;
  background: transparent;
}
