button, input, select, textarea {
  font-family : inherit;
  font-size   : 70%;
}

body{
  background-position: center top;
  background-repeat: no-repeat;
  background-color: darkblue;
  text-align: center;
  font-family: 'Ubuntu';

}
.container{
  width: 640px;
  height: 870px;
  margin top: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#image{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
}

#header{
  margin-top: 67px
}

h1{
  text-align: center;
  position:relative;
  z-index:10;
  color: red;
  font-size: 50pt;
  margin-bottom: 17px;
}

h2{
  margin-bottom: 0px;
  float: left;
}

#inputs {
  width: 640px;
  height: 25px;
  position:relative;
  z-index:10;
  text-align: left;
  margin-left: 10px;
}

#sortBySelect{
  margin-top: 5px;
}

#toDoTable{
  width: 640px;
  height: 400px;
  position:relative;
  z-index:10;
  margin-top: 27px;
  text-align: left;
  font-size: small;
}

.completed{
  text-decoration: line-through;
  text-decoration-color: red;
}

input{
  text-align: center;
  background: transparent;
}

select{
  background: transparent;
}

button{
  background: transparent;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 85%;
  white-space: nowrap;
  margin-left: 76px;
}

tr{
  border: none;
}
td{
  border-right: solid 1px dodgerblue;
  border-right: solid 1px dodgerblue;
  text-align: center;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
th{
  text-align: center;
  border-right: solid 1px dodgerblue;
  border-right: solid 1px dodgerblue;
  border-bottom: solid 2px dodgerblue;
  border-top: solid 2px dodgerblue;
  height: 21px;
  width: 110px;
}
.radial{
  width: 50px;
  font-size: x-small;
}
